<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>

    <h1>Add new category to the list</h1>

    <form action="#" th:action="@{/savecategory}" th:object="${category}" method="post">
        <p><input type="hidden" th:field="*{categoryId}" /></p>
        <p><input type="text" placeholder="Category Name" th:field="*{name}" /></p>
        <p><input type="submit" class="btn btn-success" value="Save"></input></p>
    </form>
    
</body>
</html>