<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="\css\bootstrap-4.3.1-dist\css\bootstrap.min.css" th:href="@{\css\bootstrap-4.3.1-dist\css\bootstrap.min.css}" />
    <title>Bookstore categorylist</title>
</head>
<body>
    <h1>Bookstore</h1>

    <table class="table table-striped">
        <tr>
            <th>Categories</th>
        </tr>

        <tr th:each="category : ${categories}">
            <td th:text="${category.name}"></td>
        </tr>
    </table>

    <a href="/addcategory">Add new category</a>
</body>
</html>